.header {
  min-height: 700px;
  height: 100vh;
  background-color: #000;
  position: relative;
  background-size: cover;
  background-position: center;
}

.header-top {
  padding-top: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}
.header-logo {
  padding-left: 40px;
  padding-bottom: 20px;
}

// HEADER BURGER STYLES
.hamburger {
  z-index: 9999;
  .hamburger-box {
    width: 36px;
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      height: 2px;
      width: 34px;
      background-color: white;
    }
  }
}
html.mm-opened {
  overflow-y: scroll;
}
// changed logo position
div.mm-navbar {
  position: relative;
  border: 0;
  height: 65px;
}
div.mm-panels > .mm-panel.mm-hasnavbar {
  padding-top: 0px;
}
// link font-size & padding
ul.mm-listview {
  font-size: 19px;
  li {
    a {
      padding: 16px 10px 16px 20px;
    }
  }
}
// border style width
.mm-listview > li:not(.mm-divider):after {
  width: 92%;
}
// link hover effect
.mm-menu.mm-theme-black .mm-listview > li a:not(.mm-next) {
  transition: all 0.2s linear;
  &:hover {
    color: azure;
  }
}
// cursor pointer then menu is active around content
html.mm-pagedim-black.mm-opening #mm-blocker,
html.mm-pagedim-white.mm-opening #mm-blocker,
html.mm-pagedim.mm-opening #mm-blocker {
  cursor: pointer;
}
// remove on active element background & adding active element color
.mm-menu.mm-theme-black .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu.mm-theme-black .mm-listview > li.mm-selected > span {
  color: #f9c766;
  background: transparent !important;
}
// adding diamond on link
.mm-listview {
  > li {
    > a {
      &:before {
        content: "\f219";
        font-family: fontawesome;
        padding-right: 10px;
      }
    }
    &.active {
      & > a {
      }
    }
  }
}

// HEADER CENTER

.header-flex {
  display: flex;
  position: relative;
  top: 0;
  height: auto;
  
}
.flex-center {
  margin: auto;
  width: 1170px;
}
.flex-container {
  margin-right: auto;
  margin-left: auto;
}
.header-body {
  max-width: 690px;
  text-align: center;
  margin-left: -50px;
  position: relative;

  &__top {
  }
}

.welcome {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  span {
    font-size: 14px;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #fffefe;
    padding: 0 10px;
    white-space: nowrap;
  }
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: white;
    position: relative;
  }
  &:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: white;
    position: relative;
  }
}
.header-top-title {
  color: #fffefe;
  font-family: "Raleway", sans-serif;
  font-size: 67px;
  font-weight: 200;
  text-transform: uppercase;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: white;
    position: relative;
    margin-top: 35px;
  }
}
.country {
  color: #fffefe;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 41px;
  
  i {
    font-family: fontawesome, sans-serif;
    padding: 0 9px;
    color: #555555;
    font-size: 15px;
  }
}
.header-info {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin-top: 43px;
  margin-bottom: 47px;
}
.btn-primary {
  border-radius: 3px;
  background-color: #f9c766;
  text-transform: uppercase;
  padding: 25px 55px;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  letter-spacing: 3.9px;
}



// socmedia right side 
.socmedia-row {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding: 0 17px;
  border-left: rgba(255,255,255,.06) 2px solid;
}
.socmedia-column {
  margin: auto;
}
.circle {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535353;
  border-radius: 50%;
  margin-top: 10px;
  transition: all .2s ease;
  &:hover {
    background: #ddd7d7;
  }
  i {
    font-family: fontawesome, sans-serif;
    color: #2c2c2c;
    font-size: 18px;
  }
}

// HEADER BOTTOM 

.header-contact {
  display: block;
  width: 100%;
  padding: 22px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: rgba(255,255,255,.06) 2px solid;
  display: block;
  background: rgba(#000, .1);
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact-info {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  color: #ffffff;
  i {
    color: #555555;
    font-size: 18px;
    display: inline-block;
  }
}

